:root {
  --color-base-background: #fff;
  --color-base-background-lighter: rgb(224, 237, 252);
  --color-base-text: #000;
  --color-base-text-lighter: #666666;
  --color-border: rgba(115, 125, 130, 0.4);
  --color-primary-background: rgb(238, 195, 206);
  --color-primary-text: rgb(166, 0, 43);
}
